---
import {post} from '../post/post';
import Layout from '../shared/layouts/Layout.astro';

const posts = await post.findAll();
---

<Layout title="Welcome to Astro.">
    <main>
        <ul>
            {posts.map((post) => <li>{post.title}</li>)}
        </ul>
    </main>
</Layout>
